#menuHorizontal ul li{
    display: inline;
    padding: 17px 40px;
    margin:1px; 
    background-color:#f10606; 
}
#menuHorizontal ul li:hover{
    background-color:#FFB8B8; 
    cursor: pointer; 
}
