*{
    font-family: Arial, Helvetica, sans-serif;
}

#menuHorizontal ul li{
    display: inline;
    padding: 17px 40px;
    margin:1px; 
    background-image:url(imagenes/fondos/fondomarge.jpeg);
}
#menuHorizontal ul li:hover{
    background-image:url(imagenes/fondos/fondodegradado.jpeg);
    cursor: pointer; 
}

.tablamenus tr td{
    background-image:url(imagenes/fondos/fondotablas.jpg);
    border-collapse: collapse;
    padding: 38px;
}

.tablamenus2{
    border-collapse: collapse;
}

.margenmenus{
    margin-left: 15%;
}

.quitar{
    list-style:none;
}